.header {
  background-color: $neutral-100;
  background-image: url(../../images/pattern-light-bg.svg);
  background-repeat: no-repeat;
  background-position:center;
}
.header__conatiner {
}
.site__logo {
  padding-top: 3.2rem;
  padding-bottom: 8rem;
}
.hero__container{
  display: flex;
  
}

.hero__contant {
  display: flex;
  gap: 64px;
  margin-bottom: 8rem;
}
.hero__text__content{
  padding-top: 5.75rem;
  width: 570px;
}
.hero__title {
  font-family: "Martian Mono";
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: -2px;
  background: linear-gradient(107.24deg, #fea36f -11.37%, #062630 61.84%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 2.4rem;
}
.hero__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: $neutral-700;
  margin-bottom: 3.2rem;
}
.hero__btn {
  display: flex;
  gap: 16px;
  margin-bottom: 2rem;
}
.hero__btn__title {
  font-family: "Martian Mono";
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -1px;
  color: $neutral-900;
}
.hero__joined-text {
  font-family:"Martian Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  text-align: center;
  color:$neutral-700;
}
.hero__image {
  border-radius: $radius-8;
}
