.header {
  background-color: $neutral-900;
}
.header__conatiner {
}
.site__log__text {
  padding: 10rem;
  font-weight: 700;
  font-size: 100px;
  line-height: 140%;
  letter-spacing: 0%;

  color: $neutral-0;
}
