// Neutral
$neutral-900: #062630;
$neutral-700: #365159;
$neutral-200: #e0e1df;
$neutral-100: #faf5f3;
$neutral-0: #ffffff;

// Light Salmon
$light-salmon-500: #feaa8f;
$light-salmon-100: #ffe2d1;
$light-salmon-50: #fff5ef;

// Gradients
$text-gradient: linear-gradient(107deg, #feaa8f -11.47%, #062630 61.84%);
$gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);


//Radius
$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;

// Spacing variables
$spacing-0: 0;
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 9px;
$spacing-100: 8px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px; // Note: This appears out of sequence (should be 300?)
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 84px; // Note: This skips 700
$spacing-1000: 80px; // Note: This is less than spacing-800 which may be unexpected
